<!DOCTYPE html>
<html>

<head>
    <title>Right Of Use</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link href="css/bootstrap.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link href="css/style.css" rel="stylesheet" id="bootstrap-css">
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script> -->
</head>


<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-atom">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<body>

    <div class="container">
        <div class="row mt-3 mb-3 new_lease">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb pl-0">
                        <i class="fas fa-home" style="line-height: 1.5;margin-left:4px;"></i>
                        <li class="breadcrumb-item" style="margin-left:4px;" aria-current="page">Modification</li>
                        <li class="breadcrumb-item active" style="margin-left:4px;" aria-current="page">Select Report</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- <option value="{{row.value['classOfAsset']}}" *ngFor="let row of mapClassOfAsset | keyvalue">{{row.value['classOfAsset']}}</option> -->

        <div class="row mt-4">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12 report_css">CR Number</div>
                    <select [(ngModel)]="leaseContractNo" class="form-control col-lg-8 col-md-4 col-12">
                        <option>All</option>
                        <!-- <option *ngFor="let row of mapUserFilter | keyvalue">{{row.value['classOfAsset']}}</option> -->
                        <option *ngFor="let row of leaseContractNo | keyvalue  ; let i = index ">{{row.value}}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12 report_css">Lessor Name</div>
                    <select [(ngModel)]="lessorName" class="form-control col-lg-8 col-md-4 col-12">
                        <option>All</option>
                        <option *ngFor="let row of mapLessorNameFilter | keyvalue  ; let i = index ">{{row.value}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12 report_css">Class of asset</div>
                    <select [(ngModel)]="classOfAsset" class="form-control col-lg-8 col-md-4 col-12">
                        <option>All</option>
                        <!-- <option *ngFor="let row of mapUserFilter | keyvalue">{{row.value['classOfAsset']}}</option> -->
                        <option *ngFor="let row of mapClassOfAssetFilter | keyvalue  ; let i = index ">{{row.value}}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 text-right">
                <button class="btn btn-info" (click)="getFilterUserData()">Search Report</button>
            </div>
        </div>
    </div>

    <div id="rightOfUseResponsePanel"></div>

    <div class="container mt-4 border-top">
        <div class="row mt-4 responsive_display">
            <div class="col-1">
                <h6>Sr. #</h6>
            </div>
            <div class="col-3">
                <h6>Contract Ref. No.</h6>
            </div>
            <div class="col-3">
                <h6>Lessor Name</h6>
            </div>
            <div class="col-4">
                <h6>Class of Asset</h6>
            </div>
            <div class="col-1">
                <h6>Action</h6>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3 border-top ">
            <div class="col-12" style="padding: 0;">
                <ul class="draft_close_section mt-4 mb-3" id="dataListUl">
                    <li *ngFor="let row of mapUserData | keyvalue ; let i = index" id="{{row.value['id']}}" routerLink="/derecognitionJounrnalentries">
                        <div class="row">
                            <div class="col-lg-1 col-md-6 col-6" onclick="$('.leasetab').show();">{{i+1}}</div>
                            <!-- <div class="col-lg-2 col-md-6 col-6">12/12/12</div> -->
                            <div class="col-lg-3 col-md-6 col-6" onclick="$('.leasetab').show();">{{row.value['leaseContractNo']}}</div>
                            <div class="col-lg-3 col-md-6 col-6" onclick="$('.leasetab').show();">{{row.value['lessorName']}}</div>
                            <!-- <div class="col-lg-2 col-md-6 col-6" onclick="$('.leasetab').show();">{{row.value['leaseName']}}</div> -->
                            <div class="col-lg-4 col-md-6 col-6" onclick="$('.leasetab').show();">{{row.value['classOfAsset']}}</div>
                            <input type="hidden" value="{{row.value['id']}}" name=h iddenDataId>
                            <div class="col-lg-1 col-md-6 col-6 deleteLease" id="{{row.value['id']}}"><i class="far fa-times-circle deleteLeaseIcon" id="{{row.value['id']}}"></i></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>
<script>
    $(".data1").click(function() {
        // action goes here!!
        alert("hi")
    });
</script>