<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row approve_request">
            <div class="col-12">
                <h1>Account has been activated successfully</h1>
                <input type="password" id="user-pass" class="form-control mt-1 login_form" placeholder="Password" name="resetPasswordEmail" [(ngModel)]="resetPasswordEmail" required autofocus="">
                <input type="password" id="user-repeatpass" class="form-control mt-1 login_form" placeholder="Repeat Password" name="signUpRepeatPassword" required autofocus="" [(ngModel)]="signUpRepeatPassword">
                <button style="display: inline-block;" class="btn btn-primary btn-block mt-2" (click)="resetPassword()" type="submit"><i class="fas fa-user-plus"></i> Submit</button>

            </div>
        </div>
    </div>
</body>

</html>