<div class="container">
    <div class="row mt-3 mb-3 new_lease">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <i class="fas fa-home" style="line-height: 1.5;margin-left:4px;"></i>
                    <li class="breadcrumb-item" style="margin-left:4px;" aria-current="page">Modification</li>
                    <li class="breadcrumb-item active" style="margin-left:4px;" aria-current="page">Select Entries</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12 first_adoption_css">
            <h5>Select one option of the following: </h5>
            <div class="mt-4 mb-4">
                <a routerLink="/dgmodificationreportslist">
                  (a) &nbsp; Terminated/Derecognition Jounrnal Entries
              </a>
            </div>
            <!-- <div class="mt-4 mb-4">
                <a routerLink="/derecognitionJounrnalentries">
                  (a) &nbsp; Derecognition Jounrnal Entries
              </a>
            </div> -->
            <div class="mb-4">
                <a routerLink="/modificationreportslist">
                  (b) &nbsp; Modification Journal Entries
              </a>
            </div>
        </div>
    </div>
</div>