<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/home"><img src="/assets/img/logo.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item"><a class="nav-link" href="index.html">Home <span class="sr-only"></span></a></li>
              <li class="nav-item"><a class="nav-link" href="aboutus.html">About Us<span class="sr-only"></span></a></li>
              <li class="nav-item"><a class="nav-link" href="contactus.html">Contact Us<span class="sr-only"></span></a></li>
              <li class="nav-item"><a class="nav-link" href="login.html">Log In<span class="sr-only"></span></a></li> -->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="col-2 nav-item dropdown text-center">
                    <a class="nav-link  img_nav_bar" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <p [(ngModel)]="name" ngDefaultControl [ngModelOptions]="{standalone: true}">{{ name }} </p>
                        <img src='/assets/img/thumb.png' alt="img">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" routerLink="/signup">Add New User</a>
                        <a class="dropdown-item" routerLink="/login">Log In</a>
                        <a class="dropdown-item" href="javascript:void(0);" (click)="logout()">Log Out</a>
                        <a class="dropdown-item" routerLink="/signup">Sign In</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>