<div id = "saveSuccess"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainNavBar">
    <div class="container">
        <a class="navbar-brand" href="/home"><img src="/assets/img/logo.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item"><a class="nav-link" href="index.html">Home <span class="sr-only"></span></a></li>
              <li class="nav-item"><a class="nav-link" href="aboutus.html">About Us<span class="sr-only"></span></a></li>
              <li class="nav-item"><a class="nav-link" href="contactus.html">Contact Us<span class="sr-only"></span></a></li>
              <li class="nav-item"><a class="nav-link" href="login.html">Log In<span class="sr-only"></span></a></li> -->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="col-2 nav-item dropdown text-center">
                    <a class="nav-link  img_nav_bar" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <p [(ngModel)]="name" ngDefaultControl [ngModelOptions]="{standalone: true}">{{ name }} </p>
                        <img src='/assets/img/thumb.png' alt="img">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <div id="addUSerOption">
                            <a [(ngModel)]="addUSerOption" id="myBtn" class="dropdown-item">Add New User</a>
                        </div>
                        <!-- <a class="dropdown-item" routerLink="/login">Log In</a> -->
                        <a class="dropdown-item" href="javascript:void(0);" (click)="logout()">Log Out</a>
                        <!-- <a class="dropdown-item" routerLink="/signup">Sign In</a> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>
<div id="myModal" class="modall">
    <div class="modal-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <span class="closee" onclick="$('#myModal').hide();">&times;</span>
                </div>
            </div>
            <div class="row">
                <div class="alert alert-info"  id = "infoMessage" role="alert" >
                    <span></span>
                    
                  </div>
                <div class="col-12">
                    <form>

                        <div class="form-group">
                            <label for="exampleInputEmail1">UserName</label>
                            <input type="email" class="form-control" id="exampleInputUserName"  name="signUpUserName" [(ngModel)]="signUpUserName" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"  name="signUpEmail" [(ngModel)]="signUpEmail" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputcontact">Contact Number</label>
                            <input type="email" class="form-control" id="exampleInputcontact"  name="signUpContact" [(ngModel)]="signUpContact" aria-describedby="emailHelp" placeholder="contact number">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control"  name="signUpPasword" [(ngModel)]="signUpPassword" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <input type="text" class="form-control"  name="signUpCompany" [(ngModel)]="signUpCompany" id="exampleCompany" placeholder="Company">

                        <button type="submit" class="btn btn-primary" (click)="SignUp()">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>