<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Journal Entries Payment Schedule</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <link href="css/bootstrap.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link href="css/style.css" rel="stylesheet"> 
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script> -->
        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="Ifrs16mainpage.html">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <!-- <li class="nav-item"><a class="nav-link" href="index.html">Home <span class="sr-only"></span></a></li>
                        <li class="nav-item"><a class="nav-link" href="aboutus.html">About Us<span class="sr-only"></span></a></li>
                        <li class="nav-item"><a class="nav-link" href="contactus.html">Contact Us<span class="sr-only"></span></a></li> -->
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <div class="col-2 nav-item dropdown text-center">
                            <a class="nav-link  img_nav_bar" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <p>UserName</p>
                                <img src="img/Adnan.png" alt="img"> 
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="login.html">Log In</a>
                                <a class="dropdown-item" href="../index.html">Log Out</a>
                                <a class="dropdown-item" href="signup.html">Sign In</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row mt-3 mb-3 new_lease">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" style="margin-left:4px;" aria-current="page"> <i class="fas fa-home" style="line-height: 1.5;margin-left:4px;"></i> &nbsp; Journal Entries</li>
                            <li class="breadcrumb-item active" style="margin-left:4px;" aria-current="page">Payment Scheule</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="row">
                        <div class="col-4 report_css">Quick Report</div>
                        <select class="form-control col-8" id="validationCustom04">
                            <option>Select</option>
                            <option>All</option>
                            <option>Today</option>
                            <option>This Week</option>
                            <option>This Week to date</option>
                            <option>This Month</option>
                            <option>Next Week</option>
                            <option>Next Month</option>
                            <option>Last Week</option>
                        </select> 
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="row">
                        <div class="col-4 report_css">Starting Date</div>
                        <input type="date" class="form-control col-8" /> 
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="row">
                        <div class="col-4 report_css">Ending Date</div>
                        <input type="date" class="form-control col-8" /> 
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="row">
                        <div class="col-4 report_css">Lessor Name</div>
                        <select class="form-control col-8">
                            <option>Select Name</option>
                            <option>Name 1</option>
                            <option>Name 1</option>
                            <option>Name 1</option>
                            <option>Name 1</option>
                        </select>  
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="row">
                        <div class="col-4 report_css">Name of Lease</div>
                        <select class="form-control col-8" >
                            <option>Select Name</option>
                            <option>xxx</option>
                            <option>vvv</option>
                            <option>yyy</option>
                            <option>yyyy</option>
                        </select> 
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="row">
                        <div class="col-4 report_css">Location of Lease</div>
                        <select class="form-control col-8">
                            <option>Select Location</option>
                            <option>Location 1</option>
                            <option>Location 1</option>
                            <option>Location 1</option>
                        </select>  
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="row">
                        <div class="col-4 report_css">Class of asset</div>
                        <select class="form-control col-8">
                            <option>Select class of asset</option>
                            <option>vehicles</option>
                            <option>PPE</option>
                            <option>PPE2</option>
                        </select> 
                    </div>
                </div>
            </div>
            <div class="row setup-content mt-4 border-bottom border-top" id="step-4">
                <div class="col-lg-12 mt-4">
                    <div class="row step_4 mb-4">
                        <div class="col-1 responsive_display">
                            <h6 class="mb-3">Sr. #</h6>
                            <ul class="list-unstyled text-center">
                                <li>1.</li>
                                <li>2. </li>
                                <li>3.</li>
                                <li>4.</li>
                                <li>5.</li>
                            </ul>
                        </div>
                        <div class="col-lg-1 col-md-6 col-6">
                            <h6 class="mb-3">Ref.No.</h6>
                            <ul class="list-unstyled text-center">
                                <li>QWETY</li>
                                <li>QWETY</li>
                                <li>QWETY</li>
                                <li>QWETY</li>
                                <li>QWETY</li>
                            </ul>
                        </div>
                        <div class="col-lg-1 col-md-6 col-6">
                            <h6 class="mb-3">Location</h6>
                            <ul class="list-unstyled text-center">
                                <li>QWETY</li>
                                <li>QWETY</li>
                                <li>QWETY</li>
                                <li>QWETY</li>
                                <li>QWETY</li>
                            </ul>
                        </div>
                        <div class="col-lg-1 col-md-6 col-6">
                            <h6 class="mb-3">Lessor Name</h6>
                            <ul class="list-unstyled text-center">
                                <li>QWETY</li>
                                <li>QWETY</li>
                                <li>QWETY</li>
                                <li>QWETY</li>
                                <li>QWETY</li>
                            </ul>
                        </div>
                        <div class="col-lg-1 col-md-6 col-6">
                            <h6 class="mb-3">Lease Name</h6>
                            <ul class="list-unstyled text-center">
                                <li>QWETY</li>
                                <li>QWETY</li>
                                <li>QWETY</li>
                                <li>QWETY</li>
                                <li>QWETY</li>
                            </ul>
                        </div>
                        <div class="col-lg-1 col-md-6 col-6">
                            <h6 class="mb-3">Class of Asset</h6>
                            <ul class="list-unstyled text-center">
                                <li>Building</li>
                                <li>Vehical</li>
                                <li>Building</li>
                                <li>Vehical</li>
                                <li>Building</li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-md-6 col-6">
                            <h6 class="mb-3">Due Date</h6>
                            <ul class="list-unstyled text-center">
                                <li>mm:dd:yyyy</li>
                                <li>mm:dd:yyyy</li>
                                <li>mm:dd:yyyy</li>
                                <li>mm:dd:yyyy</li>
                                <li>mm:dd:yyyy</li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6">
                            <h6 class="mb-3">Vender Name</h6>
                            <ul class="list-unstyled text-center">
                                <li>Finance Cost Right to use asset</li>
                                <li>Finance Cost Right to use asset</li>
                                <li>Finance Cost Right to use asset</li>
                                <li>Finance Cost Right to use asset</li>
                                <li>Finance Cost Right to use asset</li>
                            </ul>
                        </div>
                        <div class="col-lg-1 col-md-6 col-6">
                            <h6 class="mb-3">Due Payment</h6>
                            <ul class="list-unstyled text-center">
                                <li>100,0000.00</li>
                                <li>100,0000.00</li>
                                <li>100,0000.00</li>
                                <li>100,0000.00</li>
                                <li>100,0000.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4 mb-4 text-lg-right">
                <div class="col-8"></div>
                <div class="col-2">Total</div>
                <div class="col-2">800,000</div>
            </div>
            <div class="row">
                <div class="col-12 btn_mg">
                    <a class="btn btn-success nextBtn btn-lg pull-right float-lg-right" download type="button" >Download &nbsp; <i class="fas fa-download"></i></a>
                </div>
            </div>
        </div>
    </body>
</html>