<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-atom">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<body>
    <div class="modal" style="display: block;" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="resetCompanyPasswordResponsePanel"></div>
                <div class="modal-header pt-0">
                    <h5 class="modal-title">Please enter your new password</h5>
                </div>
                <div class="modal-body">
                    <div class="row approve_request">
                        <div class="col-12">
                            <input type="password" id="user-pass" class="form-control mt-1 login_form" placeholder="Password" name="resetPasswordEmail" [(ngModel)]="resetPasswordEmail" required autofocus="">
                            <input type="password" id="user-repeatpass" class="form-control mt-1 login_form" placeholder="Repeat Password" name="signUpRepeatPassword" required autofocus="">
                            <span id='message'></span>
                            <button style="display: inline-block;" class="btn btn-primary btn-block mt-2" (click)="resetPassword()" type="submit"><i class="fas fa-user-plus"></i> Submit</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="row approve_request">
            <div class="col-12">
                <h1>Please enter your new password</h1>
                <input type="password" id="user-pass" class="form-control mt-1 login_form" placeholder="Password" name="resetPasswordEmail" [(ngModel)]="resetPasswordEmail" required autofocus="">
                <input type="password" id="user-repeatpass" class="form-control mt-1 login_form" placeholder="Repeat Password" name="signUpRepeatPassword" required autofocus="">
                <span id='message'></span>
                <button style="display: inline-block;" class="btn btn-primary btn-block mt-2" (click)="resetPassword()" type="submit"><i class="fas fa-user-plus"></i> Submit</button>
            </div>
        </div>
    </div> -->
</body>

</html>