<!DOCTYPE html>
<html lang="en">
    <head>
        <title>New Lease contract</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <link href="css/bootstrap.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link href="css/style.css" rel="stylesheet"> 
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery.js"></script> -->
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="index.html">Home <span class="sr-only"></span></a></li>
                        <li class="nav-item"><a class="nav-link" href="aboutus.html">About Us<span class="sr-only"></span></a></li>
                        <li class="nav-item"><a class="nav-link" href="contactus.html">Contact Us<span class="sr-only"></span></a></li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0 img_nav_bar">
                        <p>UserName</p>
                        <img src="img/Adnan.png" alt="img">
                    </form>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-4 col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Bronze</h3>
                        </div>
                        <div class="panel-body">
                            <div class="the-price">
                                <h1>
                                    $10<span class="subscript">/mo</span></h1>
                                <small>1 month FREE trial</small>
                            </div>
                            <table class="table">
                                <tr>
                                    <td>
                                        1 Account
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        1 Project
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        100K API Access
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        100MB Storage
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Custom Cloud Services
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        Weekly Reports
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-footer padding_payment_schedule">
                            <a href="http://www.jquery2dotnet.com" class="btn btn-success" role="button">Sign Up</a>
                            1 month FREE trial</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3">
                    <div class="panel panel-success">
                        <div class="cnrflash">
                            <div class="cnrflash-inner">
                                <span class="cnrflash-label">MOST
                                    <br>
                                    POPULR</span>
                            </div>
                        </div>
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Silver</h3>
                        </div>
                        <div class="panel-body">
                            <div class="the-price">
                                <h1>
                                    $20<span class="subscript">/mo</span></h1>
                                <small>1 month FREE trial</small>
                            </div>
                            <table class="table">
                                <tr>
                                    <td>
                                        2 Account
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        5 Project
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        100K API Access
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        200MB Storage
                                    </td>
                                </tr>
                                <tr class="bold">
                                    <td>
                                        Custom Cloud Services
                                    </td>
                                </tr>
                                <tr class="active bold">
                                    <td>
                                        Weekly Reports
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-footer padding_payment_schedule">
                            <a href="http://www.jquery2dotnet.com" class="btn btn-success" role="button">Sign Up</a>
                            1 month FREE trial</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Gold</h3>
                        </div>
                        <div class="panel-body">
                            <div class="the-price">
                                <h1>
                                    $35<span class="subscript">/mo</span></h1>
                                <small>1 month FREE trial</small>
                            </div>
                            <table class="table">
                                <tr>
                                    <td>
                                        5 Account
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        20 Project
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        300K API Access
                                    </td>
                                </tr>
                                <tr class="active bold">
                                    <td>
                                        500MB Storage
                                    </td>
                                </tr>
                                <tr class="bold">
                                    <td>
                                        Custom Cloud Services
                                    </td>
                                </tr>
                                <tr class="active bold">
                                    <td>
                                        Weekly Reports
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-footer padding_payment_schedule">
                            <a href="http://www.jquery2dotnet.com" class="btn btn-success" role="button">Sign Up</a> 1 month FREE trial</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>