<!DOCTYPE html>
<html lang="en">

<head>
    <title>Derecognition Journal Entries</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link href="css/bootstrap.css" rel="stylesheet" id="bootstrap-css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"><link href="css/style.css" rel="stylesheet"><script src="js/jquery-3.2.1.min.js"></script><script src="js/bootstrap.bundle.min.js"></script> -->
    <style>
        .empty_div {
            width: 100%;
            height: 27px;
        }
        
        #overlay {
            position: absolute;
            top: 50px;
            ;
            left: 0;
            text-align: center;
            justify-content: center;
            z-index: 100;
            width: 100%;
            height: 100%;
            display: flex;
            background: rgba(0, 0, 0, 0.6);
        }
        
        #overlayy {
            position: absolute;
            top: 139px;
            left: 0;
            text-align: center;
            justify-content: center;
            z-index: 100;
            width: 100%;
            height: 100%;
            display: flex;
            background: rgba(0, 0, 0, 0.6);
        }
        
        #overlayParis {
            position: absolute;
            top: 109px;
            left: 0;
            text-align: center;
            justify-content: center;
            z-index: 100;
            width: 100%;
            height: 100%;
            display: flex;
            background: rgba(0, 0, 0, 0.6);
        }
        
        #overlaylogin {
            position: absolute;
            top: 0px;
            left: 0;
            text-align: center;
            justify-content: center;
            z-index: 100;
            width: 100%;
            height: 100%;
            display: flex;
            background: rgba(0, 0, 0, 0.6);
        }
        
        .cv-spinner {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .spinner {
            width: 80px;
            height: 80px;
            border: 4px #ddd solid;
            border-top: 4px #5627D8 solid;
            border-radius: 50%;
            animation: sp-anime 0.8s infinite linear;
        }
        
        @keyframes sp-anime {
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-atom">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<body>
    <div id="overlaylogin">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3 new_lease">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" style="margin-left:4px;" aria-current="page">
                            <i class="fas fa-home" style="line-height: 1.5;margin-left:4px;"></i> &nbsp; Derecognition Journal Entries
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-6 col-12 text-lg-right">
                <button class="btn btn-info" id="myBtnn"><i class="fa fa-hand-holding"></i> Integration</button>
            </div>
            <div class="col-12 mt-3">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="row">
                            <div class="col-4 report_css">Disposal Date</div>
                            <div class="col-8">
                                <input type="date" [(ngModel)]="userSelectedDate" class="form-control" id="dateSelector" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="row">
                            <div class="col-4 report_css">Payment Amount</div>
                            <div class="col-8">
                                <input type="text" [(ngModel)]="paymentToAdd" class="form-control" id="dateSelector" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="row">
                            <div class="col-4 report_css">Options</div>
                            <div class="col-8">
                                <select [(ngModel)]="recognitionOptions" class="form-control">
                                    <option>Select here</option>
                                    <option>Apportioned</option>
                                    <option>No Payment</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 text-right">
                        <button class="btn btn-success nextBtn btn-lg pull-right float-lg-right" (click)="  calculateDerecognition(); " type="button">Generate</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="beginningView">
            <div class="row mt-4">
                <div class="col-12 mt-3">
                    <div class="row journal_new">
                        <div class="col-3">
                            <h6>Date</h6>
                        </div>
                        <div class="col-3 text-lg-left">
                            <h6>Head Of Account</h6>
                        </div>
                        <div class="col-3">
                            <h6>Dr.</h6>
                        </div>
                        <div class="col-3">
                            <h6>Cr.</h6>
                        </div>
                    </div>
                    <div class="row journal_new border" id="show2">
                        <div class="col-3">{{finalDate}}</div>
                        <div class="col-3">
                            <div class="row text-lg-left">
                                <div class="col-12">
                                    Finance Cost</div>
                                <div class="col-12 mt-2">
                                    Accrued Liability</div>
                                <div class="col-12 mt-2">
                                    Lease Liability
                                </div>
                                <div class="col-12 mt-2">
                                    Prepaid Expense
                                </div>
                                <!-- onclick="window.open('cashbank.html', 'newwindow', 'width=1020,height=300');  return false;" -->
                                <div class="col-12 mt-2">
                                    Cash / Bank
                                </div>
                                <div class="col-12 mt-2">
                                    Expence
                                </div>
                                <div class="col-12 mt-2">
                                    Income
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <!-- *ngIf"finalFinanceCost >0" -->
                                <div class="col-12  empty_div">{{finalFinanceCost | number: '1.0-0'}}</div>
                                <div class="col-12 mt-1 empty_div">{{finalAccruedLiability | number: '1.0-0'}}
                                </div>
                                <div class="col-12 mt-1 empty_div">{{finalLeaseLiability | number: '1.0-0'}}
                                </div>

                                <!-- *ngIf="prepaidBool else assignZero" -->
                                <div class="col-12 mt-1 empty_div">0
                                </div>
                                <div class="col-12 mt-1 empty_div" *ngIf="!paymentBool else assignZero">0
                                </div>
                                <div class="col-12 mt-1 empty_div">expence</div>
                            </div>
                        </div>
                        <ng-template #assignZero>
                            <div class="col-12 empty_div"></div>
                        </ng-template>
                        <div class="col-3 mt-6">
                            <div class="row">
                                <!-- *ngIf="!financeBool else assignZero" -->
                                <div class="col-12 empty_div">0</div>
                                <div class="col-12 mt-1 empty_div">0
                                </div>
                                <div class="col-12 mt-1 empty_div">0
                                </div>
                                <div class="col-12 mt-1 empty_div">0
                                </div>
                                <div class="col-12 mt-1 empty_div">{{finalBankCr | number: '1.0-0'}}
                                </div>
                                <div class="col-12 mt-1 empty_div"></div>
                                <div class="col-12 mt-1 empty_div">income</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="" class="mt-4">
            <div class="row mt-4">
                <div class="col-12 mt-3">
                    <div class="row journal_new">
                        <div class="col-3">
                            <h6>Date</h6>
                        </div>
                        <div class="col-3 text-lg-left">
                            <h6>Head Of Account</h6>
                        </div>
                        <div class="col-3">
                            <h6>Dr.</h6>
                        </div>
                        <div class="col-3">
                            <h6>Cr.</h6>
                        </div>
                    </div>
                    <div class="row journal_new border" id="show2">
                        <div class="col-3">{{finalDate}}</div>
                        <div class="col-3">
                            <div class="row text-lg-left">
                                <div class="col-12">
                                    Expense</div>
                                <div class="col-12 mt-2">
                                    Lease Liability</div>
                                <div class="col-12 mt-2">
                                    ROU
                                </div>
                                <div class="col-12 mt-2">
                                    Gain/Loss
                                </div>
                                <!-- onclick="window.open('cashbank.html', 'newwindow', 'width=1020,height=300');  return false;" -->
                                <div class="col-12 mt-2">
                                    Cash / Bank
                                </div>
                                <div class="col-12 mt-2">
                                    Expence
                                </div>
                                <div class="col-12 mt-2">
                                    Income
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <!-- *ngIf"finalFinanceCost >0" -->
                                <div class="col-12  empty_div">{{finalExpenseTer | number: '1.0-0'}}</div>
                                <div class="col-12 mt-1 empty_div">{{finalLLTer | number: '1.0-0'}}
                                </div>
                                <div class="col-12 mt-1 empty_div">{{finalROUTer | number: '1.0-0'}}
                                </div>

                                <!-- *ngIf="prepaidBool else assignZero" -->
                                <div class="col-12 mt-1 empty_div">{{finalGainTer | number: '1.0-0'}}
                                </div>
                                <div class="col-12 mt-1 empty_div" >{{finalBankTer | number: '1.0-0'}}
                                </div>
                                <div class="col-12 mt-1 empty_div">expence</div>
                            </div>
                        </div>
                        <ng-template #assignZero>
                            <div class="col-12 empty_div"></div>
                        </ng-template>
                        <div class="col-3 mt-6">
                            <div class="row">
                                <!-- *ngIf="!financeBool else assignZero" -->
                                <div class="col-12 empty_div">0</div>
                                <div class="col-12 mt-1 empty_div">0
                                </div>
                                <div class="col-12 mt-1 empty_div">0
                                </div>
                                <div class="col-12 mt-1 empty_div">0
                                </div>
                                <div class="col-12 mt-1 empty_div">
                                </div>
                                <div class="col-12 mt-1 empty_div">0</div>
                                <div class="col-12 mt-1 empty_div">income</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 btn_mg mt-4">
                <button class="btn btn-success nextBtn btn-lg pull-right float-lg-right" routerLink="/home" type="button">Done</button>
            </div>
        </div>
    </div>
    <div id="myModall" class="modall">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <span class="closee" onclick="$('#myModall').hide();">&times;</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row" id="companyAddUserResponcePanel"></div>
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Add Api link</label>
                                <input type="text" class="form-control" name="" placeholder="Api link">
                            </div>
                            <!-- <input type="hidden" class="form-control" name="signUpCompany" [(ngModel)]="signUpCompany" id="exampleCompany" placeholder="Company"><div class="form-group"><button type="submit" class="btn btn-primary" (click)="SignUp()">Submit</button></div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    $(document).ready(function() {

        $('#show').click(function() {
            $('.journal_display').toggle("slide");
        });
        $('#show1').click(function() {
            $('.journal_display1').toggle("slide");
        });
        $('#show2').click(function() {
            $('.journal_display2').toggle("slide");
        });


    });
</script>