<div class="container">
    <h2>Striped Rows</h2>
    <p>The .table-striped class adds zebra-stripes to a table:</p>            
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Password</th>
          <th>Email</th>
          <th>ContactNumber</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of map | keyvalue">
          <td>{{row.value['name']}}
        </td>
          <td>{{row.value['password']}}</td>
          <td>{{row.value["email"]}}</td>
          <td>{{row.value["contactNumber"]}}</td>
        </tr>
      </tbody>
    </table>
  </div>