<!DOCTYPE html>
<html lang="en">
    <head>
        <title>New Lease contract</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <link href="css/bootstrap.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link href="css/style.css" rel="stylesheet"> 
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery.js"></script> -->
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <!-- <li class="nav-item"><a class="nav-link" href="index.html">Home <span class="sr-only"></span></a></li>
                        <li class="nav-item"><a class="nav-link" href="aboutus.html">About Us<span class="sr-only"></span></a></li>
                        <li class="nav-item"><a class="nav-link" href="contactus.html">Contact Us<span class="sr-only"></span></a></li> -->
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <div class="col-2 nav-item dropdown text-center">
                            
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="login.html">Log In</a>
                                <a class="dropdown-item" href="../index.html">Log Out</a>
                                <a class="dropdown-item" href="signup.html">Sign In</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row mt-3 mb-3">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" style="margin-left:4px;" aria-current="page"><i class="fas fa-home" style="line-height: 1.5;margin-left:4px;"></i> &nbsp;Draft</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-12 first_adoption_css">
                    <h5>New Lease </h5>
                    <ul class="draft_close_section mt-4">
                        <li>
                            <div class="row">
                                <div class="col-lg-2 col-md-6 col-6">Lessor Name: <span>XYZ</span></div>
                                <div class="col-lg-2 col-md-6 col-6">Lease Name: <span>123</span></div>
                                <div class="col-lg-3 col-md-6 col-6">Date: mm/dd/yyyy <span>XYZ</span></div>
                                <div class="col-lg-3 col-md-6 col-6">Class of Asset: PPE <span>XYZ</span></div>
                            </div>
                            <span class="close">&times;</span>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-2 col-md-6 col-6">Lessor Name: <span>XYZ</span></div>
                                <div class="col-lg-2 col-md-6 col-6">Lease Name: <span>123</span></div>
                                <div class="col-lg-3 col-md-6 col-6">Date: mm/dd/yyyy <span>XYZ</span></div>
                                <div class="col-lg-3 col-md-6 col-6">Class of Asset: PPE <span>XYZ</span></div>
                            </div>
                            <span class="close">&times;</span>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-2 col-md-6 col-6">Lessor Name: <span>XYZ</span></div>
                                <div class="col-lg-2 col-md-6 col-6">Lease Name: <span>123</span></div>
                                <div class="col-lg-3 col-md-6 col-6">Date: mm/dd/yyyy <span>XYZ</span></div>
                                <div class="col-lg-3 col-md-6 col-6">Class of Asset: PPE <span>XYZ</span></div>
                            </div>
                            <span class="close">&times;</span>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-2 col-md-6 col-6">Lessor Name: <span>XYZ</span></div>
                                <div class="col-lg-2 col-md-6 col-6">Lease Name: <span>123</span></div>
                                <div class="col-lg-3 col-md-6 col-6">Date: mm/dd/yyyy <span>XYZ</span></div>
                                <div class="col-lg-3 col-md-6 col-6">Class of Asset: PPE <span>XYZ</span></div>
                            </div>
                            <span class="close">&times;</span>
                        </li>
                    </ul>
                </div>
                <div class="col-12 first_adoption_css mt-5">
                    <h5>First Time Adoption</h5>
                    <ul class="draft_close_section mt-4">
                        <li>
                            <div class="row">
                                <div class="col-lg-2 col-md-6 col-6">Lessor Name: <span>XYZ</span></div>
                                <div class="col-lg-2 col-md-6 col-6">Lease Name: <span>123</span></div>
                                <div class="col-lg-3 col-md-6 col-6">Date: mm/dd/yyyy <span>XYZ</span></div>
                                <div class="col-lg-3 col-md-6 col-6">Class of Asset: PPE <span>XYZ</span></div>
                            </div>
                            <span class="close">&times;</span>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-2 col-md-6 col-6">Lessor Name: <span>XYZ</span></div>
                                <div class="col-lg-2 col-md-6 col-6">Lease Name: <span>123</span></div>
                                <div class="col-lg-3 col-md-6 col-6">Date: mm/dd/yyyy <span>XYZ</span></div>
                                <div class="col-lg-3 col-md-6 col-6">Class of Asset: PPE <span>XYZ</span></div>
                            </div>
                            <span class="close">&times;</span>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-2 col-md-6 col-6">Lessor Name: <span>XYZ</span></div>
                                <div class="col-lg-2 col-md-6 col-6">Lease Name: <span>123</span></div>
                                <div class="col-lg-3 col-md-6 col-6">Date: mm/dd/yyyy <span>XYZ</span></div>
                                <div class="col-lg-3 col-md-6 col-6">Class of Asset: PPE <span>XYZ</span></div>
                            </div>
                            <span class="close">&times;</span>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-2 col-md-6 col-6">Lessor Name: <span>XYZ</span></div>
                                <div class="col-lg-2 col-md-6 col-6">Lease Name: <span>123</span></div>
                                <div class="col-lg-3 col-md-6 col-6">Date: mm/dd/yyyy <span>XYZ</span></div>
                                <div class="col-lg-3 col-md-6 col-6">Class of Asset: PPE <span>XYZ</span></div>
                            </div>
                            <span class="close">&times;</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    var closebtns = document.getElementsByClassName("close");
    var i;
    
    for (i = 0; i < closebtns.length; i++) {
        closebtns[i].addEventListener("click", function() {
        this.parentElement.style.display = 'none';
        });
    }
</script>