<div class="container">
        <div class="row mt-4">
            <div class="col-12 text-lg-right"><a href="draft.html">Draft(xx)</a></div>
        </div>
        <div class="row mt-2 mb-4 index_main_name">
            <h2>IFRS 16 - LEASES</h2>
        </div>
        <div class="row mt-2">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card card_height">
                    <div class="card-body card_decoration">
                        <p class="card-text"><i class="far fa-edit"></i></p>
                        <a  routerLink="/newlease" class="btn btn-primary">New Lease</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card card_height">
                    <div class="card-body card_decoration">
                        <p class="card-text"><i class="fas fa-lightbulb"></i></p>
                        <a href="firsttimeadoption.html" class="btn btn-primary">First Time Adoption</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card card_height">
                    <div class="card-body card_decoration">
                        <p class="card-text"><i class="fab fa-stack-exchange"></i></p>
                        <a href="newLease.html" class="btn btn-primary">Journal Entries</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card card_height">
                    <div class="card-body card_decoration">
                        <p class="card-text"><i class="fas fa-paste"></i></p>
                        <a href="newLease.html" class="btn btn-primary">Report</a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
<script>
  
    </script>