<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link href="css/bootstrap.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link href="css/style.css" rel="stylesheet" id="bootstrap-css"> 
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script> -->

</head>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-atom">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<body>

    <div class="container" id="company_hidden">
        <div class="row mt-4">
            <div class="col-6 text-left">
                <!-- <strong id="myBtnnn">Bulk Upload</strong> -->
            </div>
            <!-- <div class="col-11 text-lg-right"><a routerLink='/draft'>Draft(xx)</a></div> -->
            <div class="col-6 text-lg-right"><strong>{{currency}}</strong></div>
        </div>
        <div class="row mt-2 mb-4 index_main_name">
            <h2>IFRS 16 - LEASES</h2>
        </div>
        <div class="row mt-2 text-center">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card_height">
                    <img src="/assets/img/New lease.jpg" class="card-img-top" height="228px" alt="...">
                    <div class="card-body card_decoration p-0">
                        <a routerLink="/newlease" class="btn btn-primary home_button" (click)="clickLease()">New Lease</a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 col-sm-12" id="firstTimeAdoptionTab">
                    <div class="card card_height">
                        <img src="/assets/img/bulb.jpg" class="card-img-top" height="228px" alt="...">
                        <div class="card-body card_decoration">
                            <a routerLink="/firsttimeadoption"  class="btn btn-primary" (click)="clickAdoption()">First Time Adoption</a>
                        </div>
                    </div>
                </div> -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card_height">
                    <img src="/assets/img/Journal Entry.jpg" class="card-img-top" height="228px" alt="...">
                    <div class="card-body card_decoration p-0">
                        <a routerLink="" class="btn btn-primary home_button" (click)="clickJournal()">Journal Entries</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card_height">
                    <img src="/assets/img/Reports.jpg" class="card-img-top" height="228px" alt="...">
                    <div class="card-body card_decoration p-0">
                        <a routerLink="/reports" class="btn btn-primary home_button">Report</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-12 text-right footer">
                    <a href="termscondition.html">Terms and Conditions</a>
                </div> -->
        </div>
    </div>
    <div class="container-fluid background_img_etl p-0">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12 vcenter-item text-center">
                        <button id="myBtnn" class="align-middle btn btn-info" style="margin-right: 50px;">Add new user</button>
                        <button id="showUsersBtn" class="align-middle btn btn-info" routerLink='/showusers'>Show Users</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModall" class="modall">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <span class="closee" onclick="$('#myModall').hide();">&times;</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row" id="companyAddUserResponcePanelHome"></div>
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">UserName</label>
                                <input type="email" class="form-control" id="exampleInputUserName" name="signUpUserName" [(ngModel)]="signUpUserName" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" name="signUpEmail" [(ngModel)]="signUpEmail" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" name="signUpPasword" [(ngModel)]="signUpPassword" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <input type="hidden" class="form-control" name="signUpCompany" [(ngModel)]="signUpCompany" id="exampleCompany" placeholder="Company">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" (click)="SignUp()">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModall_fordownload" class="modall">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <span class="closee" onclick="$('#myModall_fordownload').hide();">&times;</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-2">
                        <p>Download file <a href="/src/assets/file/file.xlsx" download>Click here</a></p>
                    </div>
                    <div class="col-12 mt-3">
                        <button class="btn btn-info" id="myBtnupload">Upload here</button>
                    </div>
                </div>
                <div class="row"></div>
            </div>
        </div>
    </div>
    <div id="myModall_forupload" class="modall">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <span class="closee" onclick="$('#myModall_forupload').hide();">&times;</span>
                    </div>
                </div>
                <div class="row">
                    <form class="col-12">
                        <h1>Upload a file</h1>
                        <div class="upload-container mt-2">
                            <div class="border-container">
                                <div class="icons fa-4x">
                                    <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
                                    <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                                    <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
                                </div>
                                <!--<input type="file" id="file-upload">-->
                                <!-- <p>Upload file <input type="file"></p> -->
                                <ng-container>
                                    <input type="file" class="form-control input_file" id="uploadFile" multiple (change)="getFileDetails($event)">
                                </ng-container>
                            </div>
                        </div>
                        <div class="row mt-2 text-center">
                            <div class="col-12">
                                <button class="btn btn-info" >Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>